.componentContent{
  padding: 5% 0 0 0;
}

#loginform .card-title *{
  color: white;
  display: inline;
}

#loginform .card-title{
  margin-top: 15px;
}

.close{
  margin-top: 5px;
}

#loginform{
 background-color: rgba(50, 50, 50, 0.5);
  width: 55%;
  margin: auto;
  text-align: center;
  color: #FFFF;
}
#loginform div{
  width: 90%;
  margin: auto;
}

.smallNote{
  font-size: smaller;
  cursor: pointer;
}


/* Kleine Displays, z.B. Tablet, Smartphone maxwidth: 850px */
@media (max-width: 850px) {
  #loginform{
    width: 80%;
    margin: auto;
  }
}
