<div id="notebook">
  <form class="new-note">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Neue Notiz">
      <button class="input-group-text" (click)="createNewNote()"><i class="material-icons">add</i></button>
    </div>
  </form>
  <div>
    <div class="input-group note">
      <p class="notetext">Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
      <button class="input-group-text"><i class="material-icons">delete_forever</i></button>
    </div>

  </div>
</div>
