<div class="top-bar">
  <div class="card unprocessed">
    <div class="card-title">
      <p>Unbearbeitete Meldungen: <span class="thick">1</span></p>
    </div>
    <div class="card-body">
      <p>Lorem Ipsum dolor set amet</p>
    </div>
  </div>
  <div class="card in-progress">
    <div class="card-title">
      <p>Meldungen in Bearbeitung: <span class="thick">2</span></p>
    </div>
    <div class="card-body">
      <p>Lorem Ipsum dolor set amet</p>
    </div>
  </div>
  <div class="card done">
    <div class="card-title">
      <p>Erledigte Meldungen: <span class="thick">10</span></p>
    </div>
    <div class="card-body">
      <p>Lorem Ipsum dolor set amet</p>
    </div>
  </div>
</div>

<div class="notebookwrapper">
  <app-notebook></app-notebook>
</div>
